<nav class="navbar navigation-bar" [class.hidden]="cmnSrv.dashboardState.navbarToggle" [class.sidebar-hidden]="cmnSrv.dashboardState.sidebarToggle">
  <div class="nav-toggle-btn" [class.open]="!cmnSrv.dashboardState.sidebarToggle" (click)="cmnSrv.sidebarToggle()">
    <span *ngFor="let number of [0,1,2]"></span>
  </div>
  <div class="navbar-brand">
    <a>
      <!-- <img class="brandImg" src="http://via.placeholder.com/60x60" alt="brandImg"> -->
      STS Web
    </a>
  </div>

  <ul class="left-ul">
    <li>
      <button id="minimizeSidebar" class="btn btn-just-icon btn-round btn-light" (click)="cmnSrv.sidebarMiniToggle()">
        <i *ngIf="!cmnSrv.dashboardState.sidebarMiniToggle" class="material-icons sd-visible">more_vert</i>
        <i *ngIf="cmnSrv.dashboardState.sidebarMiniToggle" class="material-icons sdm-visible">view_list</i>
      </button>
    </li>
    <li class="nav-item"></li>
  </ul>
  <ul class="right-ul">
    <!-- <li>
      <form class="form-inline">
        <input class="form-control mr-sm-2 no-border" type="search" placeholder="Search" aria-label="Search">
        <button class="btn  btn-just-icon btn-round btn-light" type="submit"><i class="material-icons">search</i></button>
      </form>
    </li> -->
    <li class="nav-item">
      <app-navbar-notification></app-navbar-notification>
    </li>

    <li class="nav-item">
      <div class="dropdown">
        <button class="btn btn-secondary btn-sm" type="button" id="ddl-person" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="material-icons">person</i>
        </button>
        <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="ddl-persons">
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" type="button">Action</button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" type="button">Another action</button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" type="button">Something else here</button>
          <div class="dropdown-divider"></div>
        </div>
      </div>
    </li>
  </ul>
</nav>