<div class="dropdown">
    <button class="btn btn-secondary btn-sm" type="button" id="ddl-notifications" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="material-icons">notifications</i>
    </button>

    <div class="dropdown-menu  dropdown-menu-right notification" aria-labelledby="ddl-notifications">
        <div class="dropdown-header notification-header">
            <span class="col-md-1 text-left">6 unread</span>
            <a href="#lala" class="col-md-5 float-right text-right">View all notifications</a>
        </div>
        <ng-container *ngFor="let x of arr; index as i">
            <ng-container [ngSwitch]="i">
                <div *ngSwitchCase="0" class="dropdown-divider first-divider">
                </div>
                <div *ngSwitchDefault class="dropdown-divider">
                </div>
            </ng-container>
            <div class="dropdown-item">
              {{x}}
            </div>
        </ng-container>
    </div>
</div>