
/*Add pointer to div*/
.dropdown-menu:before {
    position: absolute;
    top: -7px;
    right:11px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
  }
  
  .dropdown-menu:after {
    position: absolute;
    top: -6px;
    right: 12px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #F8F8F8;
    border-left: 6px solid transparent;
    content: '';
  }

.notification{
    width: 450px;
    padding-top:0.1rem !important;
}

.notification-header{
    background-color: #F8F8F8 !important;
    padding-left:10px !important;
    padding-right:10px !important;
}

.first-divider{
    margin-top:0px !important;
}